#works {
    padding: 7em 0;
    clear: both;
    background-color: rgba(24, 231, 238, 0.8);
}

.row {
    display: flex;
    /* box-sizing: border-box; */
    flex-direction: row;
    flex-wrap: wrap;
    width: 1300px;
    height: 500px;
}

.card {
    background-color: white;
    margin: 5px;
    width: 200px;
    /* flex: 0 0 150px; */
    height: 200px;
    padding: 0;
}

.work-img :hover {
    display: block;
}

.desc:hover {
    display: none;
}

@media screen and (max-width: 768px) {
    #works {
        padding: 3em 0;
    }
}